---
import BaseLayout from '../layouts/Base-layout.astro'
let permalink = Astro.request.canonicalURL.toString();
---

<BaseLayout title="CSS" description="CSS description" permalink={permalink}>
  <h1>CSS</h1>
</BaseLayout>