---
import Test from '../components/Test.svelte';
import BaseLayout from '../layouts/Base-layout.astro'
---

<BaseLayout title="Initiation HTML, CSS et Javascript">
  <h1>Hello, world!</h1>
  <p>This is my page content. It will be nested inside a layout.</p>
</BaseLayout>